
/*@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=1354f56f-b540-443f-8426-003ca755f4d7");*/
@font-face{
font-family:"Arial W01 Black";
src:url("css/Fonts/bf85e414-1b16-4cd1-8ce8-dad15daa7daa.eot?#iefix");
src:url("css/Fonts/bf85e414-1b16-4cd1-8ce8-dad15daa7daa.eot?#iefix") format("eot"),url("css/Fonts/c6f5bcd6-66fc-44af-be95-bb1f2b38d080.woff") format("woff"),url("css/Fonts/7b5b436b-a511-402a-88d6-dbac700cee36.ttf") format("truetype"),url("css/Fonts/a5adcd35-c36a-4b18-953d-47c029de4ef6.svg#a5adcd35-c36a-4b18-953d-47c029de4ef6") format("svg");
}
@font-face{
font-family:"FrutigerLTW01-45Light";
src:url("css/Fonts/7d3671fc-8c26-459c-98e1-997c4f6c8c93.eot?#iefix");
src:url("css/Fonts/7d3671fc-8c26-459c-98e1-997c4f6c8c93.eot?#iefix") format("eot"),url("css/Fonts/2a004a53-ac5c-43b3-9eeb-9f74ae4c1609.woff") format("woff"),url("css/Fonts/74d53f3b-1683-4d5a-a556-e13f6553cdf0.ttf") format("truetype"),url("css/Fonts/3f5a5b87-e71e-4544-be0c-da4daa132710.svg#3f5a5b87-e71e-4544-be0c-da4daa132710") format("svg");
}
@font-face{
font-family:"FrutigerLTW01-46LightIt";
src:url("css/Fonts/072713ba-cb3a-4522-8f3b-b120f8eae10f.eot?#iefix");
src:url("css/Fonts/072713ba-cb3a-4522-8f3b-b120f8eae10f.eot?#iefix") format("eot"),url("css/Fonts/8259f047-a5d2-40a0-a98c-1c24f0316b08.woff") format("woff"),url("css/Fonts/1078a920-3def-4194-ba69-46751fb9af38.ttf") format("truetype"),url("css/Fonts/4c72fb1e-e1b0-4a18-91cc-5dbe2faaf2a3.svg#4c72fb1e-e1b0-4a18-91cc-5dbe2faaf2a3") format("svg");
}
@font-face{
font-family:"FrutigerLTW01-55Roman";
src:url("css/Fonts/af97a512-f55a-4f61-b2ce-659c883930fc.eot?#iefix");
src:url("css/Fonts/af97a512-f55a-4f61-b2ce-659c883930fc.eot?#iefix") format("eot"),url("css/Fonts/3fbbd6b1-cfa7-4ff0-97ea-af1b2c489f15.woff") format("woff"),url("css/Fonts/076311f8-a01b-4389-a5eb-334a62e62d45.ttf") format("truetype"),url("css/Fonts/c59a36ab-4ef8-4ee1-a2f8-48aa79d4f877.svg#c59a36ab-4ef8-4ee1-a2f8-48aa79d4f877") format("svg");
}
@font-face{
font-family:"Frutiger LT W01 65 Bold";
src:url("css/Fonts/fbd7c0fb-f004-4e83-81d2-1d400413a873.eot?#iefix");
src:url("css/Fonts/fbd7c0fb-f004-4e83-81d2-1d400413a873.eot?#iefix") format("eot"),url("css/Fonts/9aa32a81-1124-4c43-b3db-15bfb1f7aed2.woff") format("woff"),url("css/Fonts/6faffbf4-f8e8-4817-b24b-a390e166be7e.ttf") format("truetype"),url("css/Fonts/fc09de64-de25-425e-90dc-a0cae29b02c4.svg#fc09de64-de25-425e-90dc-a0cae29b02c4") format("svg");
}
@font-face{
font-family:"FrutigerLTW01-75Black";
src:url("css/Fonts/9b0d3be7-4ec5-4a72-8cc6-89b8b0f0b193.eot?#iefix");
src:url("css/Fonts/9b0d3be7-4ec5-4a72-8cc6-89b8b0f0b193.eot?#iefix") format("eot"),url("css/Fonts/70ad2f15-9e1e-4a42-8fdc-30327ef510c3.woff") format("woff"),url("css/Fonts/ed897ec7-c1b8-4bd4-9d2a-0a7b09661bdc.ttf") format("truetype"),url("css/Fonts/63e3258b-8e81-4153-ba11-ab8f4b2aa7a3.svg#63e3258b-8e81-4153-ba11-ab8f4b2aa7a3") format("svg");
}
@font-face{
font-family:"FrutigerLTW01-76BlackIt";
src:url("css/Fonts/e7f1c490-48bc-447b-ad11-6e85dd1429be.eot?#iefix");
src:url("css/Fonts/e7f1c490-48bc-447b-ad11-6e85dd1429be.eot?#iefix") format("eot"),url("css/Fonts/eb21cbbe-83da-4d1d-bf54-e60fa03381e2.woff") format("woff"),url("css/Fonts/0a0bb96a-4e52-4940-9120-1cbfe63deb29.ttf") format("truetype"),url("css/Fonts/6ce161bf-e26e-4c38-b3d9-0abfcbfc2c6d.svg#6ce161bf-e26e-4c38-b3d9-0abfcbfc2c6d") format("svg");
}
@font-face{
font-family:"FrutigerLTW01-95UltraBl";
src:url("css/Fonts/47e272a5-5523-490a-a689-1e4660531849.eot?#iefix");
src:url("css/Fonts/47e272a5-5523-490a-a689-1e4660531849.eot?#iefix") format("eot"),url("css/Fonts/3a6c4a0a-2e4b-472c-a995-1a2e93bd1da2.woff") format("woff"),url("css/Fonts/4a66b185-1957-4863-86a8-db4f99ff626e.ttf") format("truetype"),url("css/Fonts/e8e7f894-9084-43e9-b08a-5dcd346ea067.svg#e8e7f894-9084-43e9-b08a-5dcd346ea067") format("svg");
}
@font-face{
font-family:"FrutigerNextW01-UltraLi";
src:url("css/Fonts/45bbdb72-6d9f-482e-bb7e-2a790b39ddc7.eot?#iefix");
src:url("css/Fonts/45bbdb72-6d9f-482e-bb7e-2a790b39ddc7.eot?#iefix") format("eot"),url("css/Fonts/a873313b-4963-4ac2-8d9d-f4639e57cf57.woff") format("woff"),url("css/Fonts/0493534e-14e6-46f8-ac9f-2b671368a12f.ttf") format("truetype"),url("css/Fonts/338dbcb4-e3b3-4fdf-9ce2-328fa41ca621.svg#338dbcb4-e3b3-4fdf-9ce2-328fa41ca621") format("svg");
}
